* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: rgba(255,255,255,.85);
    font-family: "Roboto", sans-serif;
    line-height: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
}

p:not(:last-child) {
    margin-bottom: 1.5rem;
}

a, a:visited {
    transition: opacity 250ms;
    color: #f7941d;
}

a:hover, a:active, a:focus {
    opacity: .75;
}

header {
    max-width: 1000px;
    height: 42.333709vw;
    max-height: 423px;
    background-image: url(banner_2.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
}

header h1 {
    color: transparent
}

main {
    max-width: 768px;
    margin: 0 auto;
}

section {
    margin: 3rem 0;
    padding: 0 1.5rem;
}

.cta {
    background-color: rgba(0, 255, 0, .6);
    padding: 1.5rem 2rem;
    border-radius: 2px;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.cta:visited {
    color: white;
}

strong {
    text-decoration: underline;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2em;
    color: rgba(255,255,255,.4);
    margin: 5rem 0 3rem;
    text-align: center;
    border-bottom: 2px solid rgba(255,255,255,.4);
}

.sponsors {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.sponsor {
    display: flex;
    position: relative;
    width: 50vw;
    height: 50vw;
    max-width: 150px;
    max-height: 150px;
    border-radius: 2px;
    background-color: white;
    overflow: hidden;
    flex: 0 0 50vw;
    opacity: .5;
    align-items: center;
    justify-content: center;
}

.sponsor img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: scale 250ms;
}

.sponsor:hover img {
    scale: 1.05;
}

#bennys {
    background-color: white;
}

#newtimes {
    background-color: #D2212A;
}

#sun {
    background-color: #FCB811;
}

#rambling, #newtimes {
    padding: 0 .5rem;
}

#uglybitch {
    padding: .5rem 0;
}